

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}


/*=======================main homepage========================*/
.container{
    width: 100%;
    height: 100vh;
    background: url('images/d9.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.container.light{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('images/4.jpg');
    background-position: center;
    background-size: cover;
}
.container .fa, .container .fas{
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: #fff;
    display: none;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}
.col-2{
    flex-basis: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-2 p{
    font-size: 30px;
    font-family: Rampart One;
    color: #fff;
}
.col-2 .jay span{
    font-size: 70px;
    font-family: Sofia;
    color: #fff;
}
.col-2 .jay small{
    font-family: Handlee;
    color: #fff;
}
.image{
    width: 50%;
    height: 50vh;
    border-radius: 87% 13% 23% 77% / 53% 54% 46% 47%;
    position: relative;
    background: transparent url('images/jay2.png');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
    transition:  1s;
    filter: grayscale(80%);
    animation: dance 8s ease-in-out infinite;
}
@keyframes dance{
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
.light .image{
    background: transparent url('images/jay2.png');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.7);
    filter: grayscale(50%);
}
.image:hover{
    transform: translateY(-10px);
    filter: grayscale(0);
}
#btn2{
    width: 100%;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #f2c633;
    font-size: 18px;
    color: #fff;
    margin-top: 30px;
    transition: background 1s;
}
#btn2:hover{
    background: #cf6c14;
}
.toggle{
    position: fixed;
    bottom: 30px;
    left: 3%;
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle::before{
    content: '\f185';
    font-family: 'Font Awesome 5 Free';
    cursor: pointer;
    color: black;
}
.light .toggle::before{
    content: '\f186';
    font-family: 'Font Awesome 5 Free';
    cursor: pointer;
    color: #fff;
}
.light .toggle{
    background: #121212;
}
nav{
    position: absolute;
    right: 0px;
    top: 0px;
    background: transparent;
    padding-left: 15%;
}
nav ul{
    position: relative;
}
ul li{
    display: inline-block;
    margin: 10px 20px 10px 30px;
}
ul li a{
    color: #ffffff;
    font-size: 22px;
    transition: color 1s;
}
.two.light ul li a:not(.footer ul li a){
    color: #121212;
}
.activepage{
    color: #cf6c14;
    border-bottom: 2px solid #f2c633;
    border-radius:50% ;
}

.navbar{
    width: 100%;
    background: transparent;
    height: 7vh;
}
nav ul li a:hover:not(.footer ul li a){
    color: #cf6c14;
    border-bottom: 2px solid #f2c633;
    border-radius:50% ;
}
.two.light nav ul li a:hover:not(.footer ul li a){
    color: #ff1616;
    border-bottom: 2px solid #f2c633;
    border-radius:50% ;
}
.two.light nav ul li a.activepage:not(.footer ul li a){
    color: #ff1616;
}
.logo{
    width: 120px;
    position: absolute;
    top: -5px;
    left: 10px;
    cursor: pointer;
}
.date{
    position: absolute;
    bottom: 10%;
    right: 10px;
    font-size: 22px;
    color: #cf6c14;
    font-family: Rampart One;
}
.time{
    position: absolute;
    top: 10%;
    right: 10px;
    font-size: 22px;
    color: #cf6c14;
    font-family: Rampart One;
}




/*=============================About Page=====================================*/
.makueni{
    width: 100%;
    height: 100vh;
}
.two{
    position: relative;
    background: #121212;
    overflow-y: visible;
}
.two .col-2{
    width: 100%;
    height: 80vh;
}
.cont{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.two.light{
    background: #DEE4E7;
}
.two.light .toggle{
    background: #555;
}
.two.light .toggle::before{
    color: #ccc;
}
h4{
    color: #ccc;
    font-size: 25px;
    line-height: 2;
    font-family: Handlee;
}
.two.light h4{
    color: #121212;
}
.second{
    margin-bottom: 70px;
}
.socials{
    position: relative;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}
.medias{
    background: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #f2c633;
    transition: all 2s;
}
.medias i{
    font-size: 25px;
    color: #ffffff;
}
.medias:hover{
    background: #cf6c14;
}
.two.light .medias{
    border: 1px solid #cf6c14;
}
.two.light .medias:hover i{
    color: #ffffff;
}
.two.light .socials i{
    color: #121212;
}
.title{
    position: relative;
}
.heda{
    color: #f2c633;
    font-family: 'Rampart One', cursive;
    position: absolute;
    left: 40%;
    top: 10px;
}
.two.light .heda{
    color: #cf6c14;
}
.ombase{
    color: #cf6c14;
    font-family: Sofia;
    font-style: italic;
}
.ombase:link{
    color: #cf6c14;
}
.ombase:visited{
    color: #59f233;
}
.ombase:hover{
    text-decoration: underline;
}

::-webkit-scrollbar{
    display: none;
}




/* =================Eduacation========================= */
.machakos{
    width: 100%;
    height: 100vh;
}
.card{
    padding-top: 60px;
    padding-left: 15%;
}
.raw{
    width: 100%;
}
.school{
    margin: 2% 0;
}
.high{
    margin-left: 35%;
}
.school{
    width: 450px;
    height: 30vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #ccc;
    cursor: pointer;
    color: #ffffff;
    transition: transform 0.9s;
}
.school:hover{
    transform: translateY(-10px);
}
.two.light .school{
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.7);
    color: #121212;
}
.school-photo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.school-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}
.school-details small{
    color: #ff1616;
}
.school-details h3{
    margin: 10px 0;
    font-family: Cookie;
    color: #555;
    font-size: 22px;
}
.two.light .school-details h3{
    color: #121212;
}
.school-details p{
    margin: 20px 0 ;
    font-family: Merienda;
}
.schicon{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 33%;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.schicon .fas{
    position: relative;
    color: #ccc;
    display: inline;
    margin-left: 40px;
    margin-bottom: 40px;
    font-size: 19px;
}
.two.light .schicon .fas{
    color: #121212;
}
.two.light .schicon{
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.7);
}

/* =================Skills========================= */

.kitui{
    width: 100%;
    margin-top: 15%;
    margin-bottom: 5%;
}
.kitui .raw{
    display: inline-block;
    width: 100%;
}
.lang{
    margin: 10% 8%;
}
.languages{
    width: 40%;
    margin-top: 2%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.languages progress{
    width: 80%;
}
.languages:nth-child(even){
    margin: 0% 35%;
    transform: translateY(-100%);
}
label{
    color: #ccc;
    font-family: Merienda;
}
.two.light label{
    color: #121212;
}

/* ===================footer======================= */
.footer{
    width: 100%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0 0 0;
}
.footer .logo{
    position: relative;
}
.footer a{
    margin-left: 90%;
}
.ups{
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.ups .fas{
    position: relative;
    display: block;
    float: right;
    margin-right: -40px;
    margin-bottom: 40px;
    color: #cf6c14;
}
.soc{
    display: flex;
}
.soc .media{
    margin: 5px 20px;
    background: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #f2c633;
    cursor: pointer;
    transition: all 2s;
}
.soc .media a{
    margin-left: -0px;
}
.soc .media i{
    font-size: 20px;
    color: #fff;
}
.soc .media:hover{
    background: #cf6c14;
}
.footer nav{
    position: relative;
    padding-left: 0px;
    text-align: center;
}
.footer nav ul li a{
    color: #ffffff;
    margin-left: 0;
    transition: color 1s;
}
.footer nav ul li a:hover{
    color: #cf6c14;
}
.footer nav ul li a.actnow{
    color: #cf6c14;
}
.inner-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
    padding: 20px;
}
.inner-footer small{
    color: #ffffff;
    font-size: 18px;
    font-family: Merienda;
}
.footer .fas{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
#callme small{
    font-family: Sofia;
}



/* ==========================================contacts========================================== */
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8%;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #ffffff;
}
.two.light form{
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.7);
}
form input,form textarea{
    width: 100%;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: 0;
    margin: 5px 0;
    color: #555;
}
form textarea{
    background: #f2c633;
}
.forms{
    flex-direction: column;
}
.heds{
    color: #59f233;
    font-size: 20px;
    font-family:  Merienda;
    float: left;
    width: 60%;
    margin-left: 10px;
    margin-bottom: 10px;
}
.two.light .heds, .two.light #btn2{
    color: #121212;
}
.socials2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.socials2 .medias:hover{
    transform: translateY(-10px);
}
.medias:nth-child(even){
    margin-top: 15%;
}
.two.light .socials2 i{
    color: black;
}
.two.light form input, .two.light form textarea {
    background: #555;
    color: #ffffff;
}
.two.light form input::placeholder, .two.light form textarea::placeholder{
    color: #ffffff;
}

/* ==========================================servises========================================== */
.serv{
    width: 300px;
    height: 30vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #ccc;
    cursor: pointer;
    color: #ffffff;
    flex-direction: column;
    padding: 10px;
}
.serv .fas{
    display: inline;
    position: relative;
    margin-bottom: 20%;
}
.serv h3{
    font-family: Merienda;
}
.serv p{
    font-family: Handlee;
}
.two.light .serv{
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.7);
    color: #121212;
}














/* ===================================================responsive=========================================================== */

/************************************Tab**************************************/
@media only screen and (max-width:768px){

}


/************************************Smart phone**************************************/
@media only screen and (max-width:600px) {
    /*=================main page==========================*/
    .container .hey{
        padding-left:  10px;
    }
    .container{
        background: url('images/d3.jpg');
        background-position: center;
        background-size: cover;
    }
    .container.light{
        background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('images/4.jpg');
        background-position:center;
        background-size: cover;
    }
    h1{
        font-size: 26px;
    }
    h3{
        font-size: 40px;
        position: absolute;
        left: 10%;
    }
    .main span{
        position: absolute;
        left: 28%;
    }
    .inside h4{
        font-size: 25px;
    }
    .col-2{
        flex-basis: 100%;
    }
    .image{
        width: 55%;
        height: 45vh;
    }
    .container .fa, .container .fas{
        display: inline;
        font-size: 20px;
    }
    .two.light .fa{
        color: #121212;
    }
    .container.light .fa{
        color: #fff;
    }
    #menubar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: url('images/d2.jpg');
        background-position: center;
        background-size: cover;
        z-index: 1;
        display: none;
    }
    .light #menubar{
        background: url('images/3.jpg');
        background-position: center;
        background-size: cover;
    }
    .light #menubar ul li a, .light #menubar i{
        color: #121212;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
    }
    #menubar.active{
        display: flex;
    }
    .toggle{
        z-index: 2;
    }
    .jay{
        margin-top: -10%;
    }
    .jay #btn2{
        margin-top: -5px;
    }
    .logo{
        position: absolute;
        top: -30px;
        width: 100px;
    }
    .light{
        background: url('images/l1.jpg');
        background-position: center;
        background-size: cover;
    }
    .toggle{
        left: 2%;
    }
    .time{
        position: absolute;
        left: -90%;
        top: 25%;
        transform: rotate(-90Deg);
    }
    .date{
        position: absolute;
        right: -10%;
        bottom: 20%;
        transform: rotate(90Deg);
    }
    
    /*=====================about page========================*/
    .two{
        background: #121212;
    }
    .two.light{
        background: #ccc;
    }
    .makueni{
        width: 100%;
        height: 100vh;
    }
    .cont{
        margin-top: 20%;
    }
    .det{
        margin-top: -20%;
    }
    .det h4{
        font-weight: 1;
    }
    .socials{
        width: 80%;
    }
   
    /* ======================education========================= */
    .machakos{
        margin-top: 90%;
        margin-bottom: 120%;
    }
    .raw{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .card{
        padding: 16% 0%;
    }
    .high{
        margin-left: unset;
    }
    .school{
        width: 300px;
        height: 48vh;
        margin: 10px 0;
        flex-direction: column;
        text-align: center;
    }
    .school-photo{
        width: 100px;
        height: 100px;
    }
    .school-details h3{
        font-size: 20px;
        position: relative;
        margin-left: -10%;
    }
    .school-details p{
        margin: 0 0 ;
        font-size: small;
    }
    .schicon{
        display: none;
    }
    .det h4{
        font-size: 24px;
    }
    .two form input::placeholder, .two form textarea::placeholder{
        font-size: 15px;
    }
    .two form input, .two form textarea{
        font-size: 15px;
        width: 100%;
    }
    form input{
        width: 100%;
    }
    .heda{
        margin-left: -20%;
    }
    
    /* ======================skills========================= */
    .languages{
        width: 80%;
        margin-top: 10%;
    }
    .languages:nth-child(even){
        margin: 10% 0;
        transform: translateY(0%);
    }
    /*=====================contacts========================*/
    .forms{
        margin-top: -20%;
    }
    .heds{
        width: 90%;
    }
    /*=====================footer========================*/
    .boo{
        margin-top: 100%;
    }
    .inner-footer small{
        font-size: 12px;
    }
    .footer #callme{
        display: flex;
        margin-top: -50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    

    /* ======================services========================= */
    .serv h3{
        font-size: 20px;
        position: relative;
        margin-left: -30%;
    }
    
}